body {
    margin: 3rem 5% 3rem 5%;
    background-color: #edefee;
}

h1 {
    font-size: 3rem;
}
 
h2 {
    font-size: 2rem;
}
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    height: auto;
}
nav {
    background-color: #1D3557;
    height: 3rem;
    border-radius: 15px;
}
nav ul {
    list-style: none;
    text-align: center;
    padding-top: 0.7rem;
}

nav li {
    display: inline-block;
    color: white;
    text-decoration: none;
}
nav li a{
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.main-container {
    display: grid;
    grid-template-columns: auto  auto auto;
    grid-template-rows: auto auto;
}
.first-row{
    grid-column-start: 1;
    grid-column-end: 4;
}
.second-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

img.article-img{
    width: 100%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.article {
    margin: 1rem;
    padding: 1rem;
    background-color: #F1FAEE;
    border: 1px solid #1D3557;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px #1D3557;
}

.second-row h3.article-heading {
    font-size: 2.5rem;
    color: #E63946;
}
.second-row p.article-text {
    font-size: 1rem;
    color: #1D3557;
    text-align: justify;
}
.article button {
    align-self: self-end;
}
.article button:hover {
    background-color: #64a6a8;
    cursor: pointer;
}
.article .article-button {
    width: 100%;
    height: 8%;
    font-size: 1rem;
    margin-top: 1.5vh;
    background-color: #A8DADC;
    color: #E63946;
    border: 0px;
    border-radius: 10px;
    font-weight: bold;
}
.first-row-article {
    grid-area: fir;
    margin-top: 2rem;
    height: 20rem;
    background-image: url(images/article-1.jpg);
    background-size: cover;
    background-position: center center;
}
.first-row-article h3 ,.first-row-article p {
    color: #F1FAEE;
}
.first-row-article h3  {
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    background-color: #1D3557;
    font-size: 2.5vw;
}
.first-row-article p {
    display: inline-block;
    padding: 1% 2% 1% 2%;
    border-radius: 10px;
    background-color: #1D3557;
    font-size: 0.8vw;
    text-align: justify;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 4vh;
}
.footer img {
    width: 4vw;
}
.footer img:hover {
    animation: footer-logo 1s ease-in-out alternate-reverse infinite;
    cursor: pointer;
}
.footer .second-col{
    align-self: center;
    justify-self: right;
    border-top: 3px solid #E63946;
    padding-left: 15vw;
}
@keyframes footer-logo {
    from {scale: 1;}
    to {scale: 1.2;}
  }


